# /etc/pve/notifications.cfg
# Passwort steht in /etc/pve/priv/notifications.cfg (chmod 600)

smtp: strato
        author rxf-sys
        from-address info@rxf-sys.de
        mailto info@rxf-sys.de
        mode tls
        port 465
        server smtp.strato.de
        username info@rxf-sys.de
        comment Strato SMTP TLS:465

matcher: to-strato
        mode all
        target strato
        comment Alles an Strato-SMTP

matcher: default-matcher
        disable 1
        mode all
        target mail-to-root
        comment Built-in default, replaced by to-strato
