# Auszug — nur PBS-Eintrag (anonymisiert).
# Tokens stehen in /etc/pve/priv/storage/pbs.pw

dir: local
        path /var/lib/vz
        content iso,import,vztmpl,backup

lvmthin: local-lvm
        thinpool data
        vgname pve
        content images,rootdir

pbs: pbs
        datastore backups
        server 192.168.2.209
        content backup
        fingerprint 38:3c:e0:28:f0:7b:93:55:88:ee:d4:07:a0:37:56:ad:9e:ec:d9:c2:fb:99:06:a0:48:36:ba:bb:93:61:2c:a2
        username root@pam!pve-host
